.frame {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #e5e5e5;
}
.frame .main_frame {
  position: relative;
  width: 1440px;
  height: 1315px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2px;
  background: #efd8d8;
}

.main_frame .left_frame {
  position: relative;
  width: 305px;
  height: 1315px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.main_frame .midd_frame {
  position: relative;
  width: 970px;
  height: 1259px;
  margin-left: 30px;
  margin-right: 27px;
  display: flex;
  flex-direction: column;
  background-color: rgb(218, 212, 212);
}

.main_frame .right_frame {
  position: relative;
  width: 105px;
  height: 1315px;
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main_frame .left_frame .left_1 {
  position: relative;
  width: 228px;
  height: 253px;
  margin-top: 47px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_frame .left_frame .left_1.left_1_1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 156.16px;
  height: 135.05px;
  margin-bottom: 26.96px;
}
.main_frame .left_1 .left_1_2 {
  display: flex;
  width: 64px;
  height: 20.846px;
  margin-bottom: 6.65px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 126.6%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  flex-direction: column;
  justify-content: center;
}

.marginer {
  position: relative;
  width: 220px;
  height: 0px;
  margin-left: 40px;
  margin-bottom: 25px;
  margin-top: 39px;
  border: 1.5px solid #f0f0f5;
}

.main_frame .left_frame .left_1_3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 147.83px;
  height: 24.31px;
}

/* ---------------------------------left_2 bo'yicha amallar */
.main_frame .left_frame .left_2 {
  position: relative;
  width: 220px;
  height: 126px;
  margin-left: 44px;

  justify-content: space-between;
  flex-direction: row;
  display: flex;
}

.main_frame .left_frame .left_2 .left_2_1 {
  width: 46.209px;
  height: 24px;
  margin-bottom: 9px;
  font-family: sans-serif;
  font-size: 15px;
  font-style: normal;
  text-transform: capitalize;
  align-items: center;

  background-color: #ffb400;
  font-weight: 400px;
  line-height: 24px;
}
.main_frame .left_frame .left_2 .left_2_2 {
  width: 89px;
  height: 24;
  background-color: #ffb400;
  margin-bottom: 9px;
  font-family: sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
  align-items: center;
  justify-content: center;
}

.main_frame .left_frame .left_2 .left_2_3 {
  width: 85px;
  height: 24;
  margin-bottom: 9px;
  background-color: #ffb400;
  font-family: sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.main_frame .left_frame .left_2 .left_2_4 {
  width: 75px;
  height: 24;
  background-color: #ffb400;
  font-family: sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/* -----------------------------------------------left_2-2----------------- */
.main_frame .left_frame .left_2 .left_2_5 {
  color: var(--Black, #2b2b2b);
  text-align: right;
  flex-direction: row;
  /* Paragraph Progress - 15 */
  font-family: Inter;
  flex-direction: row;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
  position: relative;
  margin-top: 5px;
}
.main_frame .left_frame .left_2 .left_2_6 {
  color: var(--Black, #2b2b2b);
  text-align: right;
  font-kerning: none;
  font-feature-settings: "calt" off;

  /* Paragraph Progress - 15 */
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
  margin-top: 5px;
  position: relative;
}
.main_frame .left_frame .left_2 .left_2_7 {
  text-align: right;
  font-kerning: none;
  font-feature-settings: "calt" off;

  /* Paragraph Progress - 15 */
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
  margin-top: 5px;
  position: relative;
}
.main_frame .left_frame .left_2 .left_2_8 {
  color: var(--Available, #7eb942);
  text-align: right;
  font-kerning: none;
  font-feature-settings: "calt" off;

  /* Paragraph Progress - 15 */
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
  position: relative;
  margin-top: 6px;
}
.main_frame .left_frame .left_2 .left_2_9 {
  color: var(--Black, #2b2b2b);
  text-align: right;
  font-kerning: none;
  font-feature-settings: "calt" off;

  /* Paragraph Progress - 15 */
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
  margin-top: 6px;
  position: relative;
}
/* -------------------------------------------------------- */
/* ----------------------------------------left-3 box ustida amallar */
.main_frame .left_frame .left_3 {
  position: relative;
  width: 220px;
  height: 153px;
  margin-top: 25px;
  margin-left: 45px;
  background-color: aqua;
}
/* ------------------------------------left_3-1 */

/* ===============================================  */

.link_href {
  text-decoration: none;
  color: black;
}

.left_icons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 238px;
  margin-top: 19px;
}

.icon {
  position: relative;
  width: 24.99px;
  height: 22.8px;
  border-radius: 50%;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  background: #ffb400;
  flex-direction: row;
}
.icon-1 {
  position: relative;
  left: 29.17%;
  right: 27.08%;
  margin-top: 5.86px;
}

.main_frame .left_frame .left_4 {
  position: relative;
  width: 220px;
  height: 252px;
  margin-top: 25px;
  margin-left: 45px;
  background-color: aqua;
}
.main_frame .left_frame .left_5 {
  position: relative;
  width: 186px;
  height: 148px;
  margin-top: 25px;
  margin-left: 45px;
  background-color: aqua;
}
